# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/

# Herramientas
.pytest_cache/
.ruff_cache/
.mypy_cache/
.ipynb_checkpoints/

# Datos y resultados locales
data/*.csv
data/*.parquet
results/
*.log

# Libro / material con copyright (no se versiona)
docs/book/
*.pdf

# Editor / SO
.vscode/
.idea/
.DS_Store
Thumbs.db
